body {
    background-color: rgb(72, 100, 116);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

body,
button {
    color: rgb(245, 229, 234);
}

.buttons {
    display: flex;
    gap: 8px;
}

button,
.choice {
    background-color: rgba(245, 229, 234, 0.226);
    border: 3px solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

button {
    flex-direction: column;
    width: 125px;
    height: 125px;
    gap: 8px;
    font-size: 24px;
}

button #icon {
    font-size: 48px;
}

.choices {
    display: flex;
    gap: 32px;
}

.choices div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.choice {
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 80px;
}

.game-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}